[submodule "user-service"]
	path = user-service
	url = https://github.com/eylemabuzeyitoglu/UserService.git
[submodule "comment-service"]
	path = comment-service
	url = https://github.com/eylemabuzeyitoglu/CommentService.git
[submodule "blog-service"]
	path = blog-service
	url = https://github.com/eylemabuzeyitoglu/BlogService.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/eylemabuzeyitoglu/AuthService.git
